services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    build:
      context: .
      dockerfile: Dockerfile.bundled
    ports:
      - '3000:3000'
    volumes:
      - data:/home/perplexica/data
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'